@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,600;0,700;1,400&display=swap');

:root{
    --font-family:'Mulish', sans-serif;
}

*{
  font-family: var(--font-family);
}

label{
  font-weight: 600;
  font-size: 18pt;
  color: #04146c;
}

p{
  font-style: italic;
  font-weight: 13pt;
  color: #04146c;
}

#checkbox{
  font-size: 400;
}

.btn{
  background-color: #5974ff;
  font-size: 18pt;
  font-weight: bold;
  color: white;
  width: 150px;
  height: 50px;
}