@import url('https://fonts.google.com/share?selection.family=Mulish:wght@400;700;900');

:root{
    --font-family:'Mulish', sans-serif;
}

*{  
    font-family: var(--font-family);
    color: #0a2ff1;
}

h2{
  font-size: 2.5rem;
}

h1{
  font-size: 5rem;
  font-weight: 900;
}

p{
  font-size: 1.66rem;
  color: #04146c;
}

span{
  font-weight: bold;
  color: #04146c;
}
  
button{
  height: 70px;
  width: 400px;
  font-size: 1.83rem;
  background-color: #0a2ff1;
  color: white;
}