@import url(https://fonts.google.com/share?selection.family=Mulish:ital,wght@0,400;0,700;1,400);

:root{
    --font-family:'Mulish', sans-serif;
}

*{
  font-family: var(--font-family);
  text-align: center;
}

h1{
  font-weight: bold;
  font-size: 49pt;
  color: #04146c;
}

h2{
  color: #0a2ff1;
  font-size: 30pt;
  font-weight: bold;
}

h3{
  color: #04146c;
  font-size: 18pt;
  font-weight: bold;
}

p{
  color: #04146c;
  font-size: 18pt;
}

button{
  background-color: white;
  color: #04146c;
  font-size: 18pt;
  border: 1px solid #0a2ff1;
}

@media screen and (max-width: 767px) {
  
  img{
    width: 66%;
  }
}
